#profile{
  height: 200px;
  vertical-align: middle;
  margin-left: 150px;
}

#header {
  padding 2px;
  font-size: 62px;
  font-family: "Lucida Fax", sans-serif;
  margin: 10px 350px 10px 350px;
}

/*Color of language title*/
h1{
  padding-left: 650px;
  color: red;
  font-size: 40px;
}

/*Color of subheaders in page*/
h2{
  color: red;
}

h3{
  font-size: 18px;
}

/*Color of paragraphs*/
p, h3{
  color: #101D6B;
}

p {
  font-family: "Optima", sans-serif;
}
